---
    import Mylayout from "../layouts/Mylayout.astro";
    import  {Contenido} from "../components/Contenido";
    const  destinations  = [
    {
      "name": "Moon",
      "images": {
        "png": "/assets/destination/image-moon.png",
        "webp": "/assets/destination/image-moon.webp"
      },
      "description": "See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.",
      "distance": "384,400 km",
      "travel": "3 days"
    },
    {
      "name": "Mars",
      "images": {
        "png": "/assets/destination/image-mars.png",
        "webp": "/assets/destination/image-mars.webp"
      },
      "description": "Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!",
      "distance": "225 mil. km",
      "travel": "9 months"
    },
    {
      "name": "Europa",
      "images": {
        "png": "/assets/destination/image-europa.png",
        "webp": "/assets/destination/image-europa.webp"
      },
      "description": "The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.",
      "distance": "628 mil. km",
      "travel": "3 years"
    },
    {
      "name": "Titan",
      "images": {
        "png": "/assets/destination/image-titan.png",
        "webp": "/assets/destination/image-titan.webp"
      },
      "description": "The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.",
      "distance": "1.6 bil. km",
      "travel": "7 years"
    }
    ]

    const img = destinations[0].images.webp;
---

<Mylayout title="spaceDestination">

    <section class="h-[88%] w-full text-white overflow-y-scroll px-6">
        <div class="h-1/2 flex flex-col items-center justify-around">
            <h1 class="text-white text-center w-auto  text-xl [font-weigth:300]  [font-family:var(--Barlow)] uppercase [letter-spacing:.2rem]"> <strong class="text-gray-400">01</strong> Pick your destination</h1>
            <figure class="w-48">
                <img src={img} alt="">
            </figure>
        </div>
        <Contenido
          planet={destinations[0].name}
          description={destinations[0].description}
          distance={destinations[0].distance}
          time={destinations[0].travel}
        >



        </Contenido>

    </section>
   

    
</Mylayout>

<style>
    body{
        background: url(/assets/destination/background-destination-mobile.jpg) center no-repeat;
        background-size: cover;
    }
</style>